{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>PDFColab</title>
    <link rel="icon" href="{% static 'icons/logo.svg' %}" />
    <link rel="stylesheet" href="{% static 'css/tailwind.django.css' %}" />
  </head>
  <body class="bg-base-100 h-screen flex flex-col items-center justify-center">
    <p class="text-lg font-bold">Your access has been revoked</p>
    <p class="mt-2">Please contact the administrator for further assistance.</p>
    <p class="mt-2">
      Please Visit:
      <a href="/" class="link link-primary">PDFColab</a>
    </p>
  </body>
</html>
